.side-bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 5px;
    overflow:scroll;
}